<launch>
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_footprint"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="local_frame_id"  default="odom"/>
<!--
  <arg name="local_frame_id"  default="map"/>
-->
  <arg name="odom_topic"      default="odom" />
  <arg name="scan_topic"      default="scan" />

  <!-- set respawn to true to overcome the occasional crash -->
  <node pkg="move_base" type="move_base" respawn="true" name="move_base">
    <!-- load basic parameters for move_base -->
    <rosparam file="$(find sawhr_navigation)/param/move_base_params.yaml" command="load"/>

    <!-- load common params twice, once in global namespace, once in local namespace -->
    <rosparam file="$(find sawhr_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find sawhr_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />   

    <!-- load separate local and global parameters; these override the common ones -->
    <rosparam file="$(find sawhr_navigation)/param/local_costmap_params.yaml" command="load" ns="local_costmap"/>   
    <rosparam file="$(find sawhr_navigation)/param/global_costmap_params.yaml" command="load" ns="global_costmap"/>

    <!-- custom parameters overload any of the above (specify ns in file) -->
    <rosparam file="$(find sawhr_navigation)/param/custom_costmap_params.yaml" command="load" />

    <!-- parameters just for the DWA local planner -->
    <rosparam file="$(find sawhr_navigation)/param/dwa_local_planner_params.yaml" command="load" ns="DWAPlannerROS"/>
    <!-- parameters just for the Trajectory local planner -->
    <rosparam file="$(find sawhr_navigation)/param/traj_local_planner_params.yaml" command="load" ns="TrajectoryPlannerROS"/>

    <!-- parameters just for the global planner -->
    <rosparam file="$(find sawhr_navigation)/param/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>

    <!-- parameters just for the navfn global planner -->
    <rosparam file="$(find sawhr_navigation)/param/navfn_global_planner_params.yaml" command="load" ns="NavfnROS"/>
 
    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg local_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg local_frame_id)"/>
    <param name="DWAPlannerROS/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="TrajectoryPlannerROS/global_frame_id" value="$(arg local_frame_id)"/>
    <param name="TrajectoryPlannerROS/robot_base_frame" value="$(arg base_frame_id)"/>
    <!-- Inputs and output topics; use nav_cmd_vel in sawhr_base -->
    <remap from="cmd_vel" to="nav_cmd_vel"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>

