<!-- Navigation demo -->
  Start camera first.
  [REQ] ~map: map, relative to home.  Default: WHR_MAP_FILE env variable
  [OPT] ~home: Parent folder. Default = ~ (user home)
-->
<launch>
  <arg name="map" default="$(env WHR_MAP_FILE)"/>
  <arg name="home" default="$(env HOME)"/>

  <!-- AMCL -->
  <include file="$(find sawhr_navigation)/launch/amcl.launch">
    <arg name="map_file" value="$(arg home)/$(arg map)"/>
  </include>
</launch>
