<!-- launches rviz with display of model, also sets up joint and robot
     state publishers for transforms.  Reads and converts the xacro version
     on the fly (but does not update the URDF on disk)
-->
<launch>
  <arg name="model" default="$(find whr_description)/xacro/whr.urdf.xacro"/>
  <arg name="gui" default="False" />
  <arg name="rvizconfig" default="$(find whr_description)/rviz/urdf.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
