<!-- Basic launcher for SAWhR robot description.
     Posts model to parameter server, also sets up joint and robot
     state publishers for transforms. 
-->
<launch>
  <arg name="model" default="$(find sawhr_description)/xacro/sawhr.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <node name="joint_state_publisher" 
        pkg="joint_state_publisher" 
        type="joint_state_publisher" />
  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="state_publisher" />
</launch>
