<!-- launches rviz with display of model, also sets up joint and robot
     state publishers for transforms
-->
<launch>
  <arg name="model" default="$(find sawhr_description)/urdf/sawhr.urdf"/>
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sawhr_description)/rviz/urdf.rviz" required="true" />
</launch>
