<!-- Initialize SAWR: Launch All Phases Simultaneously -->
<launch>
  <include file="$(find sawr_master)/launch/init_0.launch"/>
  <include file="$(find sawr_master)/launch/init_1.launch"/>
  <include file="$(find sawr_master)/launch/init_2.launch"/>
  <include file="$(find sawr_master)/launch/init_3.launch"/>
</launch>
