<!-- Initialize FetchBot: Phase 0 -->
<launch>
  <!-- Start remote motor control node on "base" processor -->
  <!-- make sure "base" is in /etc/hosts, and set up ssh in advance so it
       is possible to log into the "root" account on the Edison from the
       account where this is launched without a password -->
  <machine name="base" 
           address="base" 
           env-loader="~/ros-env.sh" 
           default="never" 
           user="root"
  />
  <node machine="base"
        pkg="fetchbase"
        type="fetchbase" 
        name="fetchbase"
  />

  <!-- Start local motor control bridge -->
  <node pkg="fetchbot_base"
        type="base_bridge" 
        name="base_bridge"/> 
</launch>
